/* @media screen and (max-width: 576px)  */

/* header container starts here*/
header {
    width: 100%;
    height: auto;
    padding-left: 20px;
    overflow: hidden;
  }
  
  /* navbar start */
  .navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  
  .navtitle {
    font-size: 2rem;
    line-height: 100%;
  }
  
  .nav__list {
    border: none;
  }
  
  .nav__item {
    display: none;
  }
  
  .bar__icon {
    display: block;
    width: 90%;
    height: auto;
    text-align: center;
  }
  
  .nav__item a {
    font-size: 1rem;
    line-height: 100%;
  }
  /* navbar end */
  
  /* banner start */
  .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
  }
  
  .banner__text--container {
    width: 100%;
    height: auto;
    margin-top: 70px;
    margin-right: 0;
    margin-left: 0px;
  }
  
  .banner__text--container h1 {
    width: 80%;
    height: auto;
    font-size: 3rem;
    font-weight: 900;
    line-height: 100%;
    text-align: left;
    margin-bottom: 20px;
  }
  
  .banner__text--container p {
    width: 80%;
    height: auto;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.1px;
    text-align: left;
    margin-bottom: 28px;
  }
  
  .banner__btn {
    display: flex;
    justify-content: flex-start;
    gap: 14px;
  }
  
  .join__btn,
  .download__btn {
    width: 138px;
    height: 50px;
    padding: 0;
    border-radius: 42px;
    font-size: 1rem;
    font-weight: 600;
    line-height: 20px;
  }
  
  .download__btn {
    border: 1px solid rgb(255, 255, 255);
    background-color: #111111;
    color: rgb(255, 255, 255);
  }
  
  .banner__image--container {
    max-width: 353px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 48px;
  }
  
  .banner__image {
    width: 100%;
    max-width: 353px;
    height: auto;
  }
  
  .banner__image img {
    width: 100%;
    height: 100%;
  }
  
  .div350 {
    max-width: 155.74px;
    height: 72.58px;
    position: absolute;
    top: 45%;
    left: 0%;
  }
  
  .div350 h4 {
    font-size: 1.2rem;
    font-weight: 900;
    line-height: 20px;
    letter-spacing: 0.3px;
    text-align: left;
  }
  
  .div350 p {
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.1px;
    text-align: left;
  }
  
  .div500 {
    max-width: 145.91px;
    height: 74.09px;
    position: absolute;
    top: 10%;
    left: 55%;
  }
  
  .div500 h4 {
    font-size: 2rem;
    font-weight: 900;
    line-height: 35px;
  }
  
  .div500 p {
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 18px;
  }
  /* navbar end */
  
  /* main container starts here*/
  
  /* change__habit--section start */
  .change__habit--section {
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
  }
  
  .habit__text--container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .habit__text--container h2 {
    max-width: 318px;
    height: auto;
    font-size: 2rem;
    font-weight: 900;
    line-height: 100%;
    text-align: center;
    margin-bottom: 14px;
  }
  
  .habit__text--container p {
    width: 100%;
    height: auto;
    font-size: 0.87rem;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.3px;
    text-align: center;
    margin-bottom: 54px;
  }
  
  .habit__image--container {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  
  .image__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .image__container h4 {
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 100%;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 6px;
  }
  
  .image__container p {
    font-size: 0.8rem;
    line-height: 14px;
    letter-spacing: 0.3px;
    text-align: center;
  }
  /* change__habit--section end */
  
  /* extra mile section start */
  .extra__mile--section {
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .extra__mile--contents {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
  }
  
  .extra__mile--contents h2 {
    width: 90%;
    height: auto;
    font-size: 2rem;
    line-height: 120%;
    margin-bottom: 12px;
  }
  
  .extra__mile--contents p {
    width: 90%;
    height: auto;
    font-size: 0.8rem;
    line-height: 20px;
    letter-spacing: 0.3px;
    text-align: left;
  }
  
  .extra__mile--contents #join__btn {
    width: 90%;
    height: 54px;
    padding: 0;
    margin: 24px 0px;
    border-radius: 42px;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 22px;
  }
  
  .extra__mile--image {
    width: 80%;
    height: auto;
    margin-bottom: 30px;
  }
  
  .extra__mile--image img {
    width: 100%;
    height: 100%;
  }
  /* extra mile section end */
  
  /* training section start */
  .training-section {
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin-top: 82px;
  }
  
  .training__content {
    max-width: 353px;
    height: 162px;
    margin-bottom: 20px;
  }
  
  .training__content-title {
    width: 90%;
    height: auto;
    font-size: 2rem;
    line-height: 120%;
    margin-bottom: 12px;
    margin-bottom: 11px;
  }
  
  .training__content-description {
    max-width: 671px;
    height: 48px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.82rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
  }
  
  .training__picture {
    display: flex;
    flex-direction: column;
  }
  
  .training__div-1,
  .training__div-2 {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    width: 100%;
    position: relative;
  }
  
  .training__card-1,
  .training__card-2,
  .training__card-3,
  .training__card-4,
  .training__card-5,
  .training__card-6 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 218px;
  }
  
  .training__card-1,
  .training__card-2,
  .training__card-4,
  .training__card-5 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .training__card-3,
  .training__card-6 {
    display: none;
  }
  
  .training__div-1 p,
  .training__div-2 p {
    color: rgb(255, 255, 255);
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: left;
  }
  
  .training__card-1 p,
  .training__card-2 p,
  .training__card-4 p,
  .training__card-5 p {
    width: 144px;
    height: 31px;
    width: 80%;
    height: auto;
    position: relative;
    top: 81%;
    left: 6%;
  }
  /* training section end */
  
  /* BMI content section starts */
  .BMI__content {
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: 55px;
    margin-bottom: 32px;
  }
  
  .BMI__content h2 {
    width: 100%;
    height: auto;
    font-size: 2rem;
    line-height: 100%;
    margin-bottom: 14px;
  }
  
  .BMI__content p {
    width: 100%;
    height: auto;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.3px;
    text-align: left;
  }
  /* BMI Content section ends */
  
  /* BMI__calculator--section start*/
  .BMI__calculator--section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .BMI__chart {
    width: 80%;
    height: auto;
    margin-top: 52px;
  }
  
  .BMI__chart h3 {
    width: 100%;
    height: auto;
    font-size: 1rem;
    line-height: 100%;
    text-align: left;
    margin-bottom: 23px;
  }
  
  .BMI__chart .chart__table table {
    width: 100%;
    height: auto;
  }
  
  .BMI__chart .chart__table table,
  td,
  th {
    text-align: center;
    padding-top: 15px;
    padding-left: 18px;
    padding-bottom: 14px;
  }
  
  .BMI__chart .chart__table table th {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1rem;
  }
  
  .BMI__chart .chart__table table td {
    font-size: 0.8rem;
  }
  
  .BMI__calculator {
    width: 80%;
    height: auto;
    margin-top: 42px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .BMI__calculator h3 {
    width: 100%;
    height: auto;
    font-size: 1rem;
  }
  
  .BMI__calculator p {
    width: 100%;
    height: auto;
    font-size: 0.8rem;
    margin-bottom: 34px;
  }
  
  .calculate__form input::placeholder,
  .calculate__form select::placeholder {
    width: 100%;
    height: auto;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
  }
  
  .calculate__form .form1,
  .form2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
  }
  
  .calculate__form #weight,
  #height,
  #age,
  #sex {
    width: 50%;
    height: auto;
    padding: 12px 20px;
    margin: 0px 12px;
    font-size: 0.8rem;
  }
  
  .calculate__form #activity {
    width: 93%;
    padding: 12px 20px;
    margin: 0px 12px;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 22px;
  }
  
  #calculate__btn {
    width: 80%;
    height: 54px;
    padding: 0;
    margin: 34px 0px;
    border-radius: 42px;
    font-size: 1.1rem;
  }
  /* BMI__calculator--section end*/
  
  /* team section start */
  .team-section {
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 66px;
  }
  
  .team__contents {
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 48px;
  }
  
  .team__contents__title {
    width: 100%;
    height: auto;
    font-size: 2rem;
    margin-bottom: 14px;
  }
  
  .team__contents__description {
    width: 100%;
    height: auto;
    font-size: 0.8rem;
  }
  
  .team__images {
    width: 90%;
    height: auto;
    padding: 10px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  
  .team__image {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  
  .team__image img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
    opacity: 85%;
  }
  
  .team__image__title,
  .team__image__description {
    position: relative;
    bottom: 25%;
    left: 5%;
  }
  
  .team__image__title {
    font-size: 0.95rem;
  }
  
  .team__image__description {
    font-size: 0.8rem;
  }
  /* team section end */
  
  /* passes section start */
  .passes-section {
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
  }
  
  .passes__content {
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 28px;
  }
  
  .passes__content-title {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 900;
    line-height: 120%;
    text-align: center;
    margin-top: 44px;
    margin-bottom: 24px;
  }
  
  .passes__content-switch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  
  .passes__switch-caption {
    color: white;
    font-weight: 500;
  }
  
  .switch__icon {
    font-size: 2rem;
    color: rgb(242, 201, 76);
  }
  
  .passes__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .passes__details-crossfit {
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 90%;
    margin-bottom: 40px;
    padding: 10px;
  }
  
  .crosscut__title {
    width: 90%;
    height: auto;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 14px;
    text-align: center;
  }
  
  .crosscut__price {
    width: 90%;
    height: auto;
    color: rgb(255, 255, 255);
    font-size: 2.4rem;
    font-weight: 900;
    line-height: 120%;
    margin-left: 10px;
    margin-bottom: 14px;
    text-align: center;
  }
  
  .sub__text {
    font-size: 0.8rem;
    font-weight: 600;
  }
  
  .crosscut__description {
    width: 90%;
    height: auto;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.82rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
    margin: 0 auto;
  }
  
  .purchase__btn {
    width: 60%;
    height: 45px;
    border-radius: 42px;
    border: none;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
    margin-top: 24px;
    margin-bottom: 10px;
  }
  
  .arrow__icon {
    display: none;
  }
  /* passes section end */
  
  /* main container ends here*/
  
  /* footer container starts here */
  .footer {
    width: 100%;
    height: auto;
    margin-top: 66px;
    border: 1px solid transparent;
  }
  
  .footer-content {
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: 44px;
    margin-bottom: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer__fitness__content {
    width: 100%;
    height: auto;
  }
  
  .footer__fitness__title {
    width: 90%;
    height: auto;
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .footer__fitness__description {
    width: 90%;
    height: auto;
    font-size: 0.8rem;
  }
  
  .footer__get__started__content {
    width: 100%;
    height: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .get__started__title {
    font-size: 1.5rem;
    margin-bottom: 39px;
  }
  
  .get__started__description {
    font-size: 0.9rem;
    margin-bottom: 20px;
  }
  
  .horizontal__row {
    width: 80%;
    height: 0;
    border: 2px solid rgba(255, 255, 255, 0.1);
    margin: 0 auto;
  }
  
  .footer__description {
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 36px;
    margin-bottom: 57px;
    font-size: 1.1rem;
  }
  /* footer container ends here */